# TODO: Agregar variables de entorno si se integra analytics
# VITE_GTM_ID=GTM-XXXXXX
# VITE_SEGMENT_KEY=your_segment_key_here
# VITE_ONBOARDING_URL=https://start.thefabulous.co/onboarding/fabulous-initial